@charset "utf-8";

.Map_Map{
    width: 100%;
    img{
        width: 100%;
    }
}
.budget_share{
    width: 100%;
    display: flex;
    margin-bottom: 1.8rem;
    div{
        display: flex;
        flex-direction: column;
        span{
            margin-bottom: 1.15rem;
        }
        p{
            text-align: center;
        }
    }
    div:nth-of-type(1){
        position: relative;
        left: 8rem;
        span{
           width: 5rem;
            height: 5rem;
            border: 1px solid #1B9AF7;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 2.6rem;
                color: #1B9AF7;
            }
        }
        p{
            font-size: 1.4rem;
            color: #00B2B2;
        }
    }
    div:nth-of-type(2){
        position: relative;
        left: 12rem;
        span{
           width: 5rem;
            height: 5rem;
            border: 1px solid #FEB505;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 2.6rem;
                color: #FEB505;
            }
        }
        p{
            font-size: 1.4rem;
            color: #FE8864;
        }
    }
}
.Map_phone{
    width: 100%;
    display: flex;
    li{
        width: 50%;
        display: flex;
        flex-direction: column;
        span{
            width: 6rem;
            height: 6rem;
            background: #39C894;
            border-radius:50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1.8rem auto 1.6rem auto;
            i{
                color: white;
                font-size: 3.5rem;
            }
        }
        p{
            margin-bottom: 2.25rem;
            color: #333;
            font-size: 1.4rem;
            text-align: center;
        }
    }
}
.Map_erweima{
    width: 100%;
    background: #F4F4F4;
    img{
        width: 40%;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
        position: relative;
        left: 10rem;
    }
    span{
        color: #000;
        font-size: 1.4rem;
        margin-bottom: 2.25rem;
        display: inline-block;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
