@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}
body{
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.share_micro-blog{
    width: 95%;
    background: rgba(0,0,0,0.8);
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 99;
    position: absolute;
    top: 66rem;
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 1.8rem;
        margin-top: 4rem;
        img{
            width: 6.75rem;
            height: 6.75rem;
        }
    }
    div{
        width: 80%;
        height: 4rem;
        background: #fff;
        font-size: 1.8rem;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3.25rem auto 1.7rem auto;
        border-radius: 0.25rem;
    }
}
